@import "~bootstrap/scss/bootstrap";

body {
    background-image: url("/assets/dd_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
}

// .btn-success:active {
//     /*formatting goes here*/
//     background-color: #E50712;
//     }

// .btn-success:hover {
//     /*formatting goes here*/
//     background-color: #E50712;
//     }
    
// .btn-success:focus {
//     /*formatting goes here*/
//     }

.dd_button {
    background-color: #E50712;
    color: #F8F9FA;
    // box-shadow: 2px 2px;
    border-color: #E50712;
    // transform: scale(0.8);
}

.dd_block {
    background-color: #F8F9FA;
    box-shadow: 3px 3px #E50712;
    // padding: 10%;
    // width: 300 px;
    // height: 10 px;
    // max-width: 500 px;
    // border-style: solid;
    // border-color: transparent transparent transparent #E50712;
    // border-right: 100px #E50712;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-bottom: 10px;
}

.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }

  .center {
    // display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 50%;
    // height: auto;
  }


