<p></p>
<div class ="dd_block">
<h1><%= @character_spell.character.name %>'s Spells</h1>
</div>
<p>
<div class ="dd_block">
<p><%= @character_spell.spell.name %></p>
<p><%= @character_spell.spell.description %></p>
</div>