
<% if @characters.empty? || @characters.nil? %>
    <h1>You don't have any characters!</h1>
<% end %>


<% @characters.each do |character|%>
<p> <%= link_to character.name, character_path(character) %> </p>
<%= button_to 'Delete Character', character_path(character), method: :delete %>
<% end %>

<p><%= button_to  "Create a new character", new_character_path, method: 'get' %></p>
