
    
<% if @characters.empty? || @characters.nil? %>
    <h1>You don't have any characters!</h1>
<% end %>
<p><%= button_to  "Create A New Character", new_character_path, method: 'get', class: 'dd_button' %></p>

<% @characters.each do |character|%>
<div class ="dd_block"><p><h2><%= link_to character.name, character_path(character) %></h2>
<p></p>
<%= button_to 'Delete Character', character_path(character), method: :delete, class: 'dd_button' %></p></div>
<% end %>

