<p></p>
<div class ="dd_block">
<h1><%= @character_ability.character.name %>'s Abilities</h1>
</div>
<p></p>
<div class ="dd_block">
<p><%= @character_ability.ability.name %></p>
<p><%= @character_ability.ability.description %></p>
</div>